@page
@model Backoffice.Pages.Bookings.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Modifier une réservation</h1>

<div>
    <a asp-page="Index" class="btn btn-light d-flex">
        <div><i class="fa fa-sm fa-outdent"></i></div>
        <div class="ms-2">Revenir à la liste</div>
    </a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Booking.BookingID" />
            <div class="form-group">
                <label asp-for="Booking.CustomerID" class="control-label"></label>
                <select asp-for="Booking.CustomerID" class="form-control" asp-items="ViewBag.CustomerID"></select>
                <span asp-validation-for="Booking.CustomerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.SpaceID" class="control-label"></label>
                <select asp-for="Booking.SpaceID" class="form-control" asp-items="ViewBag.SpaceID"></select>
                <span asp-validation-for="Booking.SpaceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.BookingDate" class="control-label"></label>
                <input asp-for="Booking.BookingDate" class="form-control" />
                <span asp-validation-for="Booking.BookingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.BookingEndDate" class="control-label"></label>
                <input asp-for="Booking.BookingEndDate" class="form-control" />
                <span asp-validation-for="Booking.BookingEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.BookingPaidAmount" class="control-label"></label>
                <input asp-for="Booking.BookingPaidAmount" class="form-control" />
                <span asp-validation-for="Booking.BookingPaidAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.BookingPrice" class="control-label"></label>
                <input asp-for="Booking.BookingPrice" class="form-control" />
                <span asp-validation-for="Booking.BookingPrice" class="text-danger"></span>
            </div>
            <div class="form-group text-end">
                <button type="submit" value="Enregistrer" class="btn btn-success d-flex float-end">
                    <div><i class="fa fa-sm fa-save" style="color:white"></i></div>
                    <div class="ms-2">Enregistrer</div>
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
