@{
}

<section id="gallery">
    <div class="container mt-5">
        <div class="row">
            <h3>Salles disponibles</h3>
        </div>
        <div class="row mt-3">
            @foreach (System.Data.DataRow row in Model.Rows)
            {
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img src="@row["Filename"]" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">@row["SpaceName"]</h5>
                            <p class="card-text">@row["SpaceDescription"]</p>
                            <a href="/Space/Details/@row["SpaceID"]?spaceId=@row["SpaceID"]" class="btn btn-outline-success btn-sm">Voir les détails</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<script>
    function redirectToSpaceDetail (id) {
         window.location.href = "/Space/Details/ " + id + "?id=" + id;
    }
</script>